{% load static %}
<section id="team" class="team bg-grey fix">
            <div class="container">
                <div class="main_team roomy-80">
                    <div class="head_title text-center fix">
                        <h2 class="text-uppercase">Наша команда</h2>
                        <h5>У нас энергия пули, но лёгкость замученного слона</h5>
                    </div>

                    <div id="team-slid" class="carousel slide carousel-fade" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#team-slid" data-slide-to="0" class="active"></li>
                            <li data-target="#team-slid" data-slide-to="1"></li>
                            <li data-target="#team-slid" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="team_item team_skill">
                                                <div class="team_author">
                                                    <h4>John Doe</h4>
                                                    <p>CEO & FOunder</p>
                                                </div>

                                                <div class="team_skill_title fix m-top-40 m-bottom-40">
                                                    <h5>Best Skill</h5>
                                                </div>

                                                <div class="skill_bar sm-m-top-50 m-top-20">
                                                    <div class="teamskillbar clearfix m-top-20" data-percent="80%">
                                                        <h6 class="text-uppercase">Photoshop</h6>
                                                        <div class="teamskillbar-bar"></div>
                                                    </div> <!-- End Skill Bar -->

                                                    <div class="teamskillbar clearfix m-top-50" data-percent="75%">
                                                        <h6 class="text-uppercase">WEB DESIGN</h6>
                                                        <div class="teamskillbar-bar"></div>
                                                    </div> <!-- End Skill Bar -->

                                                    <div class="teamskillbar clearfix m-top-50" data-percent="90%">
                                                        <h6 class="text-uppercase">LOGO Design</h6>
                                                        <div class="teamskillbar-bar"></div>
                                                    </div> <!-- End Skill Bar -->

                                                    <div class="teamskillbar clearfix m-top-50" data-percent="75%">
                                                        <h6 class="text-uppercase">Wordpress</h6>
                                                        <div class="teamskillbar-bar"></div>
                                                    </div> <!-- End Skill Bar -->
                                                </div><!-- End off skill bar -->

                                            </div>
                                        </div><!-- End off col-sm-4 -->

                                        <div class="col-sm-4">
                                            <div class="team_item xs-m-top-30">
                                                <div class="port_img">
                                                    <img src="{% static 'mainapp/assets/images/team-img1.png' %}" alt="" />
                                                </div>
                                            </div>
                                        </div><!-- End off col-sm-4 -->

                                        <div class="col-sm-4">
                                            <div class="team_item team_content xs-m-top-30">
                                                <h4>Failure will never overtake me if my
                                                    determination to succeed is strong enough.</h4>
                                                <h5 class="m-top-40">- Og Mandino</h5>

                                                <div class="divider"></div>

                                                <div class="team_socail">
                                                    <h5>Get In Touch</h5>
                                                    <ul class="list-inline m-top-20">
                                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                                        <li><a href=""><i class="fa fa-behance"></i></a></li>
                                                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div><!-- End off col-sm-4 -->

                                    </div><!-- End off row -->
                                </div>
                            </div><!-- End off team -->

                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="team_item team_skill">
                                                <div class="team_author">
                                                    <h4>John Doe</h4>
                                                    <p>CEO & FOunder</p>
                                                </div>

                                                <div class="team_skill_title fix m-top-40 m-bottom-40">
                                                    <h5>Best Skill</h5>
                                                </div>

                                                <div class="skill_bar sm-m-top-50 m-top-20">
                                                    <div class="teamskillbar clearfix m-top-20" data-percent="80%">
                                                        <h6 class="text-uppercase">Photoshop</h6>
                                                        <div class="teamskillbar-bar"></div>
                                                    </div> <!-- End Skill Bar -->

                                                    <div class="teamskillbar clearfix m-top-50" data-percent="75%">
                                                        <h6 class="text-uppercase">WEB DESIGN</h6>
                                                        <div class="teamskillbar-bar"></div>
                                                    </div> <!-- End Skill Bar -->

                                                    <div class="teamskillbar clearfix m-top-50" data-percent="90%">
                                                        <h6 class="text-uppercase">LOGO Design</h6>
                                                        <div class="teamskillbar-bar"></div>
                                                    </div> <!-- End Skill Bar -->

                                                    <div class="teamskillbar clearfix m-top-50" data-percent="75%">
                                                        <h6 class="text-uppercase">Wordpress</h6>
                                                        <div class="teamskillbar-bar"></div>
                                                    </div> <!-- End Skill Bar -->
                                                </div><!-- End off skill bar -->

                                            </div>
                                        </div><!-- End off col-sm-4 -->

                                        <div class="col-sm-4">
                                            <div class="team_item xs-m-top-30">
                                                <div class="port_img">
                                                    <img src="{% static 'mainapp/assets/images/team-img1.png' %}" alt="" />
                                                </div>
                                            </div>
                                        </div><!-- End off col-sm-4 -->

                                        <div class="col-sm-4">
                                            <div class="team_item team_content xs-m-top-30">
                                                <h4>Failure will never overtake me if my
                                                    determination to succeed is strong enough.</h4>
                                                <h5 class="m-top-40">- Og Mandino</h5>

                                                <div class="divider"></div>

                                                <div class="team_socail">
                                                    <h5>Get In Touch</h5>
                                                    <ul class="list-inline m-top-20">
                                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                                        <li><a href=""><i class="fa fa-behance"></i></a></li>
                                                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div><!-- End off col-sm-4 -->

                                    </div><!-- End off row -->
                                </div>
                            </div><!-- End off team -->

                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="team_item team_skill">
                                                <div class="team_author">
                                                    <h4>John Doe</h4>
                                                    <p>CEO & FOunder</p>
                                                </div>

                                                <div class="team_skill_title fix m-top-40 m-bottom-40">
                                                    <h5>Best Skill</h5>
                                                </div>

                                                <div class="skill_bar sm-m-top-50 m-top-20">
                                                    <div class="teamskillbar clearfix m-top-20" data-percent="80%">
                                                        <h6 class="text-uppercase">Photoshop</h6>
                                                        <div class="teamskillbar-bar"></div>
                                                    </div> <!-- End Skill Bar -->

                                                    <div class="teamskillbar clearfix m-top-50" data-percent="75%">
                                                        <h6 class="text-uppercase">WEB DESIGN</h6>
                                                        <div class="teamskillbar-bar"></div>
                                                    </div> <!-- End Skill Bar -->

                                                    <div class="teamskillbar clearfix m-top-50" data-percent="90%">
                                                        <h6 class="text-uppercase">LOGO Design</h6>
                                                        <div class="teamskillbar-bar"></div>
                                                    </div> <!-- End Skill Bar -->

                                                    <div class="teamskillbar clearfix m-top-50" data-percent="75%">
                                                        <h6 class="text-uppercase">Wordpress</h6>
                                                        <div class="teamskillbar-bar"></div>
                                                    </div> <!-- End Skill Bar -->
                                                </div><!-- End off skill bar -->

                                            </div>
                                        </div><!-- End off col-sm-4 -->

                                        <div class="col-sm-4">
                                            <div class="team_item xs-m-top-30">
                                                <div class="port_img">
                                                    <img src="{% static 'mainapp/assets/images/team-img1.jpg' %}" alt="" />
                                                </div>
                                            </div>
                                        </div><!-- End off col-sm-4 -->

                                        <div class="col-sm-4">
                                            <div class="team_item team_content xs-m-top-30">
                                                <h4>Failure will never overtake me if my
                                                    determination to succeed is strong enough.</h4>
                                                <h5 class="m-top-40">- Og Mandino</h5>

                                                <div class="divider"></div>

                                                <div class="team_socail">
                                                    <h5>Get In Touch</h5>
                                                    <ul class="list-inline m-top-20">
                                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                                        <li><a href=""><i class="fa fa-behance"></i></a></li>
                                                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div><!-- End off col-sm-4 -->

                                    </div><!-- End off row -->
                                </div>
                            </div><!-- End off team -->

                        </div>

                    </div>
                </div><!-- End off row -->
            </div><!-- End off container -->
        </section>