{% extends 'userapp/base.html' %}
{% load static %}
{% block content %}

    <!-- ======= Header ======= -->
    {% include 'userapp/includes/inc_header.html' %}

    <!-- ======= Sidebar ======= -->
    {% include 'adminapp/includes/inc_sidebar.html' %}

    <main id="main" class="main">
        <div class="card">
            <div class="card-body pt-3">
                <!-- Bordered Tabs -->

                <div class="tab-content pt-2">
                    <img src="
                            {% if claim_landlord.user_id.avatar %}
                            {{ claim_landlord.user_id.avatar.url }}
                            {% else %}
                            {% static 'userapp/assets/img/profile-img.jpg' %}
                            {% endif %}" alt="Profile foto"
                         class="rounded-circle">

                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                        <h5 class="card-title"></h5>
                        <p class="small fst-italic"></p>
                        {# --- Данные которые отображаются в общей информации --- #}

                        <h5 class="card-title">Детали профиля</h5>

                        <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Фамилия Имя</div>
                            <div class="col-lg-9 col-md-8">{{ claim_landlord.user_id.get_full_name }}</div>
                        </div>

                        {#                                    <div class="row">#}
                        {#                                        <div class="col-lg-3 col-md-4 label">Компания</div>#}
                        {#                                        <div class="col-lg-9 col-md-8">{{ claim_landlord.user_id.company }}</div>#}
                        {#                                    </div>#}

                        {#                                    <div class="row">#}
                        {#                                        <div class="col-lg-3 col-md-4 label">Должность</div>#}
                        {#                                        <div class="col-lg-9 col-md-8">{{ claim_landlord.user_id.job_tittle }}</div>#}
                        {#                                    </div>#}

                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Страна</div>
                            <div class="col-lg-9 col-md-8">{{ claim_landlord.user_id.city }}</div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Адресс</div>
                            <div class="col-lg-9 col-md-8">{{ claim_landlord.user_id.country }}</div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Телефон</div>
                            <div class="col-lg-9 col-md-8"> {{ claim_landlord.user_id.user_phone }}</div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Email</div>
                            <div class="col-lg-9 col-md-8">{{ claim_landlord.user_id.email }}</div>
                        </div>
                        <h5 class="card-title">Информация заявителя</h5>
                        <div class="col-lg-9 col-md-8">
                            {% if not claim_landlord.text %}
                                <p>Заявка не заполненная</p>
                        {% else %}
                            <p>{{ claim_landlord.text }}</p>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <a href="{% url 'admin_staff:claim_accept' claim_landlord.pk %}">
                    <button type="button" class="btn btn-success">Одобрить заявку</button>
                </a>
                <a href="{% url 'admin_staff:claim_reject' claim_landlord.pk %}">
                    <button type="button" class="btn btn-danger">Отклонить заявку</button>
                </a>
            </div>
        </div>
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include 'userapp/includes/inc_footer.html' %}
{% endblock %}
{% block js %}

    {% include 'userapp/includes/inc_js.html' %}
{% endblock %}