{% extends 'userapp/base.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}

    <main>
        <div class="container">

            <section
                    class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Авторизация</h5>
                                        <p class="text-center small">Введите Ваш логи и пароль</p>
                                    </div>

                                    <form class="row g-3 needs-validation" novalidate action="{% url 'auth:login' %}"
                                          method="post">
                                        {% csrf_token %}
                                        {# #################################################################### #}
                                        {% if messages %}
                                            <div class="alert alert-warning fade show" role="alert">
                                                {% for message in messages %}
                                                    {{ message }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        {# #################################################################### #}

                                        <div class="col-12">
                                            <label for="{{ form.username.id_for_label }}"
                                                   class="form-label">Логин</label>
                                            <div class="input-group has-validation">
                                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                                {{ form.username }}
                                                <div class="invalid-feedback">Введите ваш логин.</div>

                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label for="{{ form.password.id_for_label }}"
                                                   class="form-label">Пароль</label>
                                            {{ form.password }}
                                            <div class="invalid-feedback">Введите ваш пароль</div>

                                        </div>

                                        <div class="col-12">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="remember"
                                                       value="true"
                                                       id="rememberMe">
                                                <label class="form-check-label" for="rememberMe">Запомнить меня</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Войти</button>
                                        </div>
                                        {#############################################################################}
                                        <div class="social-login js-social-login-part text-center">
                                            <p class="title-social">Войти через соц сети</p>
                                            <button type="button" class="btn btn-outline-danger">
                                                <a class="link-danger" href="{% provider_login_url 'google' %}">Google</a>
                                            </button>
                                        </div>
                                        {#############################################################################}
                                        <div class="col-12">
                                            <p class="small mb-0">У вас нет аккаунта? <a
                                                    href="{% url 'auth:choose_type' %}">Зарегистрируйтесь!</a></p>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->
{% endblock %}
{% block js %}

    {% include 'userapp/includes/inc_js.html' %}
{% endblock %}