{% extends 'userapp/base.html' %}
{% load static %}
{% block content %}

<main>
    <div class="container">

        <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Выберите тип аккаунта</h5>
                                    <a class="nav-link collapsed" href="{% url 'auth:user' %}">
                                        <button type="button" class="btn btn-success">Арендатор
                                        </button>
                                    </a>
                                    <a class="nav-link collapsed" href="{% url 'auth:landlord' %}">
                                        <button type="button" class="btn btn-success">Арендодатель
                                        </button>
                                    </a>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->
{% endblock %}
{% block js %}

{% include 'userapp/includes/inc_js.html' %}
{% endblock %}