{% extends 'userapp/base.html' %}
{% load static %}

{% block content %}

    <main>
        <div class="container">

            <section
                    class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="{% url 'user:main' %}" class="logo d-flex align-items-center w-auto">
                                    <img src="{% static 'userapp/assets/img/logo.png' %}" alt="logo">
                                    <span class="d-none d-lg-block">NiceAdmin</span>
                                </a>
                            </div>
                            <!-- End Logo -->

                            <div class="card mb-2">

                                <div class="card-body">

                                    <div class="pt-4 pb-2 text-center">
                                        <h5 class="card-title text-center pb-4 fs-4">Create an Account</h5>
                                        {% if not user.is_authenticated %}
                                            <h3 class="card-title text-center pb-0 fs-4">Регистрация прошла
                                                успешно!</h3>
                                            <p>Пользователь {{ user.email }} успешно активирован.</p>
                                        {% else %}
                                            <h3 class="card-title text-center pb-0 fs-4">Ошибка подтверждения
                                                регистрации</h3>
                                            <p>Пользователь не был активирован!</p>

                                        {% endif %}
                                        <a class="btn btn-primary w-100" href="{% url 'auth:login' %}">Залогиниться</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

{% endblock %}

