{% load static %}
<script src="{% static 'detailsapp/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'detailsapp/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'detailsapp/assets/vendor/chart.js/chart.min.js' %}"></script>
<script src="{% static 'detailsapp/assets/vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'detailsapp/assets/vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'detailsapp/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'detailsapp/assets/vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'detailsapp/assets/vendor/php-email-form/validate.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'detailsapp/assets/js/main.js' %}"></script>
<script src="{% static 'detailsapp/assets/js/script.js' %}"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=fe838c94-89e2-4657-a2ef-061f23ff1a53&lang=ru_RU&load=Geolink"
        type="text/javascript"></script>