{% load static %}
<form class="date-form" action="{% url 'details:create_rental' offer.pk %}" method="post">
    {% csrf_token %}
    <div class="dates">
        <label for="start_date">Начало аренды:</label>
        <input type="date" class="form-control" id="start_date" name="start_date">
        <label for="end_date">Конец аренды:</label>
        <input type="date" class="form-control" id="end_date" name="end_date">
    </div>
    <label for="all_select_seats">Укажите желаемое кол-во мест:</label>
    <select class="form-select select-seats" aria-label="Default select example" id="all_select_seats" name="all_seats">
        <option disabled selected value> Выберите кол-во необходимых мест </option>
        {% for seat in seats_number %}
        <option value="{{seat}}">{{seat}}</option>
        {% endfor %}
    </select>
    <div class="form-peoples hidden">
        {% include 'detailsapp/includes/inc_seats.html' %}
    </div>
    <p style="margin: 5px; font-size: 1.5rem;">Цена: {{offer.payment_per_hour}} руб/ч</p>
    {% if user.is_authenticated %}
    <button type="submit" class="btn btn-primary date-btn hidden">Принять</button>
    <p class="form-desc">Выберите необходимые даты и кол-во человек</p>
    {% else %}
    <p class="form-desc">Для оформления заявки необходимо авторизоваться\зарегистрироваться</p>
    {% endif %}
</form>