{% load static %}

<div class="carousel-indicators">
    {% for offer_image in offer_images %}
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}"
    class="{% if forloop.counter0 == 0 %}active{% endif %}"></button>
    {% endfor %}
</div>
<div class="carousel-inner">
    {% for offer_image in offer_images %}
    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
        <img src="/media/{{offer_image.image}}" class="d-block w-100" alt="...">
    </div>
    {% endfor %}
</div>

<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>