 {% load static %}
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
{% if user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'user:profile' %}">
          <i class="bi bi-person"></i>
          <span>Профиль</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'user:bookings' %}">
          <i class="bi bi-cart"></i>
          <span>Мои бронирования</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'user:locations' %}">
          <i class="bi bi-box"></i>
          <span>Мои локации</span>

        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'user:favorites' %}">
          <i class="bi bi-bookmark-heart-fill"></i>
          <span>Избранное</span>
        </a>
      </li>
        {% endif %}
      <li class="nav-heading">Страницы</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'feedback:questions' %}">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link " href="{% url 'feedback:main' %}">
          <i class="bi bi-envelope"></i>
          <span>Контакты</span>
        </a>
      </li><!-- End Contact Page Nav -->
        {% if user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'auth:logout' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Выйти</span>
        </a>
      </li>
        {% endif %}
        {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'auth:register' %}">
          <i class="bi bi-card-list"></i>
          <span>Регистрация</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'auth:login' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Войти</span>
        </a>
      </li><!-- End Login Page Nav -->
        {% endif %}

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="pages-error-404.html">-->
<!--          <i class="bi bi-dash-circle"></i>-->
<!--          <span>Error 404</span>-->
<!--        </a>-->
<!--      </li>&lt;!&ndash; End Error 404 Page Nav &ndash;&gt;-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="pages-blank.html">-->
<!--          <i class="bi bi-file-earmark"></i>-->
<!--          <span>Blank</span>-->
<!--        </a>-->
<!--      </li>&lt;!&ndash; End Blank Page Nav &ndash;&gt;-->

    </ul>

  </aside><!-- End Sidebar-->