 {% load static %}
  <!-- Vendor JS Files -->
  <script src="{% static 'userapp/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'userapp/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'userapp/assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'userapp/assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'userapp/assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'userapp/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'userapp/assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'userapp/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'userapp/assets/js/main.js' %}"></script>